.head {
    text-align: center;
}

.lorem {
    color: black;
    text-align: center;
}

.delete {
    background-color: beige;
    color: black;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-color: black;
    display: block;
    margin: auto;
}